@import 'styles/variables';

nav {
  background-color: $primary-box;
  .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-transform: capitalize;
    font-size: 18px;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    li {
      text-transform: capitalize;
      a {
        color: $primary-text;
        border-bottom: 2px solid $primary-text;
        text-decoration: none;
        padding: 5px 15px;
        transition: background-color 0.2s ease, color 0.2s ease;
        &:hover {
          background-color: rgba($primary-text, .2);
          color: white;
        }
      }
    }
  }
}
